.wrap-content{
  background-color: white;
  padding: 20px;
  height: 100%;
}
/* PostList.jsx */
.newPost-btn{
  display: block;
  align-items: flex-end;
  justify-content: end;
}

/* PostItem.jsx */
.post-item{
  margin: 20px 0;
}

/* PostDetail.jsx */
.content{
  white-space: pre-line;
}