.container-content{
  background-color: white;
  padding: 20px;
  height: 100%;
}
/* PostList.jsx */

/* PostItem.jsx */
.post-item{
  margin: 20px 0;
}

/* PostDetail.jsx */
.wrap-content{
  margin: 40px;
}
.content{
  white-space: pre-line;
}

/* PostEditor.jsx */ 


/* Editor.jsx */
.editor-title{
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
  border: none;
  color: black;
}
.editor-title::placeholder,
.input::placeholder{
  color: #cccccc;
}
.input{
  width: 100%;
  max-width: 100%;
  color: black;
  resize: none;
  padding: 3px 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.input:focus,
.editor-title:focus{
  outline: none;
}